

.container
{
    padding-top: 10%;
    width: 90%;
    margin: 0 auto;
}

::ng-deep .mat-tab-body
{
    width: 100%;
    padding: 3%;
}

::ng-deep .mat-tab-label
{
    width: 25%;
}

.user
{
    width: 60%;
    
}

.mat-form-field
{
    width :100%;
}

.cardContainer
{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8%;
}

.tabSkill
{
    display: flex;
    flex-direction: column;
}


::ng-deep .edit{
    display: flex;
    justify-content: flex-end;
}

::ng-deep .edit .mat-icon
{
    cursor: pointer;
    color: #3d1458;
}

.featureCard
{
    display: flex;
    width: 30%;
    height: auto;
}

::ng-deep .featureCard .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 100%;
}



::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 700px;
}


.row
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

input
{
    width: 100%;
}

p{
    width: 100%;
    color: #707070;
}

.featureCard button
{
    width: 100px;
}


.editSkills
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

::ng-deep .editSkills .mat-icon
{
    color: #3d1458;
    cursor: pointer;
}

.createButtonDiv
{
    width: 250px;
    margin-left: 2%;
}

.createButton
{
    width: 250px;
    height: 40px;
    margin-bottom: 40px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #3d1458;
    display: flex;
    justify-content: center;
    border: 0px;
}

.compCard, .realCard
{
    border: 1px solid #e4e4e4;
    border-radius: 2%;
    padding: 2%;
    width: 95%;
    margin-bottom: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}


.edit
{
    align-self: flex-end;
    width: 5%;
    display: flex;
    justify-content: space-between;

}

::ng-deep .compCard .mat-icon
{
    color: #3d1458;
    cursor: pointer;
}


::ng-deep .realCard .mat-icon
{
    color: #3d1458;
    align-self: flex-end;
    cursor: pointer;
}


form
{
    margin: 0 auto;
    width: 100%;
    padding: 2%;
}

.image
{
    width: 200px;
}

img
{
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .container
    {
        padding-top: 20%;
        width: 90%;
        margin: 0 auto;
    }


    .cardContainer
    {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 8%;
    }

    .featureCard
    {
        display: flex;
        width: 90%;
        height: auto;
        margin-bottom: 5%;
    }

    .text
    {
        width: 100%;
    }


    ::ng-deep .featureCard .mat-form-field-appearance-legacy .mat-form-field-infix {
        width: 200px;
    }
    
    
    
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
        width: 200px;
    }

    .edit
    {
        width: 50px;
    }

}

