<div class="login">
    <p>Changement mot de passe</p> 
     <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" >
         <mat-form-field class="row">
             <input matInput  placeholder="Ancien mot de passe" formControlName="firstPassword">
         </mat-form-field>
         <mat-form-field class="row">
             <input matInput type="password" placeholder="Nouveau mot de passe" formControlName="password">
         </mat-form-field>
         <div class="button">
             <button mat-raised-button type="submit">Mettre à jour</button>
         </div> 
     </form>
 </div>